@use '../sass/Layout/header';
@use '../sass/Layout/footer';
@import '../sass/Utils/variables';
@import '../sass/Base/typography';
@import '../sass/Utils/fonctions';

body {
    margin: 0rem;
}

* {
    font-family: map-get($font, text);
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header i {
    visibility: hidden;
}

.intro {
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-color-secondary;
        height: 3rem;
    }
        & i {
            margin-left: 3rem;
            margin-right: 1rem;
        }
        & input {
            background-color: $bg-color-secondary;
            border: none;
            font-size: map-get($font-size, text);
        }

    &__pres {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        @include bg-color-primary;
        height: 17rem;
        padding: 1rem;
        font-size: 1.2rem;
        color: lighten(black, 40%);
    }
        h1 {
            color: black;
            font-size: 1.85rem;
            margin: 1rem;
        }

        h2 {
            margin-bottom: 2rem;
        }

        a {
            display: block;
            margin: auto;
            border-radius: 50px;
            width: 13.5rem;
            height: 3.1rem;
            background: linear-gradient(-10deg, $color-primary, 50%, $color-secondary);
            color: white;
            font-size: map-get($font-size, text);
            @include shadow;
        }

    &__tuto {
        height: 20rem;
        margin: 3rem 1rem 0rem 1rem;
    }
        &__tuto__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 16rem;
            padding: 0rem;
            div:nth-child(3) {
                @include bg-color-pink;
                i {
                    color: $color-primary;
                }
            }
        }
        &__tuto__block {
            display: grid;
            grid-template-columns: 0.2fr 0.6fr 3fr;
            align-items: center;
            height: 4rem;
            @include bg-color-primary;
            @include shadow;
            border-radius: 20px;
            i {
                color: lighten(black, 40%);
                margin-left: 1.5rem;
           }
        }
        &__tuto__block__number {
            color: white;
            background-color: $color-primary;
            border-radius: 50%;
            padding: 0.1rem;
            font-size: 0.9rem;
            text-align: center;
            position: relative;
            right: 0.5rem;
        }
        &__tuto__block__text {
            font-weight: bold;
        }
}
.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80rem;
    @include bg-color-primary;
    margin-top: 3rem;
    padding: 0rem 1rem 3rem 1rem;

    h2 {
        margin: 3rem 0rem 0rem 0rem;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        border-radius: 1.3rem;
        overflow: hidden;
        @include shadow;
        img {
            height: 12rem;
        }
    }
    &__cards__bottom {
        display: grid;
        grid-template-columns: 3fr 0.4fr;
        align-items: center;
    }
    &__cards__text {
        margin: 1rem 0rem 0rem 1rem;
        p {
            margin-top: 0.3rem;
        }
    }
}