@use '../sass/Layout/header';
@use '../sass/Layout/footer';
@import '../sass/Utils/variables';
@import '../sass/Base/typography';
@import '../sass/Utils/mixins';

body {
    margin: auto;
    max-width: 425px;
}

* {
    font-family: map-get($font, text);
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header {
    box-shadow: none;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    color: lighten(black, 40%);
}

h2::after {
    content: "";
    display: block;
    margin: 0rem;
    width: 10%;
    border-bottom: 4px solid $color-tertiary;
}

main img {
    height: 25rem;
}

.menu {
    @include bg-color-primary;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0rem 1rem 5rem 1rem;
    z-index: 2;
    position: relative;
    bottom: 5.5rem;
    margin-bottom: -5.5rem;
    &__title {
        display: grid;
        grid-template-columns: 1fr 0.15fr;
        align-items: center;
        h1 {
            font-family: map-get($font, title);
            font-size: 2rem;
        }
        &__icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: auto;
        }
        input {
            position: relative;
            left: 0.2rem;
            top: 1rem;
            height: 1.5rem;
            width: 1.5rem;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            @media (max-width:400px) {
                top: 1.8rem;
            }
            @media (max-width:375px) {
                top: 1.8rem;
            }
        }
        input:checked ~ .far {
            transition-duration: 0.5s;
            opacity: 0;
        }
        input:checked ~ .fas {
            transition-duration: 0.5s;
            opacity: 1;
        }
        .far {
            position: relative;
            bottom: 0.7rem;
            left: 0.4rem;
            @media (max-width:400px) {
                top: 0.1rem;
            }
            @media (max-width:375px) {
                top: 0.1rem;
                right: 0.5rem;
            }
        }
        .fas {
            position: relative;
            bottom: 0.7rem;
            right: 1.1rem;
            opacity: 0;
            transition-duration: 0.5s;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width:400px) {
                left: 0.4rem;
                bottom: 1.5rem;
            }
            @media (max-width:375px) {
                position: relative;
                left: 0.4rem;
                bottom: 1.5rem;
              }
            @media (max-width:320px) {
                left: 0.4rem;
            }
        }
        .fa-heart {
            font-size: 1.5rem;
        }
    }
    &__starter {
        overflow: hidden;
    }
    &__main {
        margin-top: 3rem;
        overflow: hidden;
    }
    &__desert {
        margin-top: 3rem;
        overflow: hidden;
    }
    &__list {
        display: flex;
        flex-direction: column;
        
    }
    @for $i from 1 through 10 {
        .menu__cards:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.5}s;
        }
    }
    &__cards {
        display: flex;
        overflow: hidden;
        height: 5rem;
        max-width: 100%;
        margin-top: 1rem;
        border-radius: 1rem;
        background-color: white;
        animation: fadein 2s;
        animation-fill-mode: backwards;
        input {
            appearance: none;
            width: 100%;
            height: 5rem;
            border-radius: 1rem;
            position: absolute;
            cursor: pointer;
            left: -0.3rem;
        }
        input:checked ~ .menu__icon {
            margin-right: 0;
            transition-duration: 0.5s;
            transition-timing-function: ease;
        }
        input:checked ~ i {
            margin-right: 0;
            transition-duration: 0.5s;
            transition-timing-function: ease;
        }
        &:hover .menu__icon {
            margin-right: 0;
            transition-duration: 0.5s;
            transition-timing-function: ease;
        }
        &:hover i {
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 1rem;
        max-width: 100%;
        overflow: hidden;
        p {
        margin: 0.5rem 0rem 0rem 0rem;
        color: lighten(black, 40%);
        }
    }
    &__text > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
    &__icon {
        width: 7rem;
        background: #99e2d0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -7rem;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    &__icon > i {
        color: #99e2d0;
        padding: 0.5rem;
        border-radius: 50%;
        background: white;
        transition-duration: 0.5s;
    }
    &__name {
        font-weight: bold;
        font-size: 1.3rem;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        margin-right: 2rem;
        max-width: 100%;
        font-weight: bold;
    }
}
button {
    @include button;
    margin-top: 3rem;
    &:hover {
        filter: brightness(110%);
        box-shadow: 0px 4px 10px darken(#eaeaea, 60%);
    }
}