header {
    text-align: center;
    box-shadow: 0px 2px 5px darken(#eaeaea, 20%);
    position: relative;
    opacity: 0;
    animation: loadingend 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
    i {
        position: relative;
        right: 6rem;
        bottom: 1rem;
        color: black;
        @media (max-width:375px) {
            right: 5rem;
        }
        @media (max-width:320px) {
            right: 4rem;
            bottom: 0.6rem;
        }
    }
}

header img {
    width: 40%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}